body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f7afeb;
}

img {
    max-width: 25vw;
    max-height: 30vh;
    display: block;
    margin: auto;
}

p {
    font-size: 18px;
    color: #333;
    width: 80%;
    margin: auto;
    text-align: center;
}
.topnav {
    background-color: #b847a5; /* soft purple-pink to match your site */
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px 0;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav a:hover {
    background-color: #e7c3ff;
    color: black;
}

.topnav a.active {
    background-color: #8b2a76;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive { position: relative; }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}